@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Dancing+Script:wght@700&family=Lato&family=Leckerli+One&family=Roboto+Condensed&display=swap');
* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    border: 0px;
    font-weight: normal;
    font-family: 'Lato', sans-serif, Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 4px;
}

ul {
    list-style-type: none;
}

a:any-link {
    color: rgb(66, 139, 202);   
    font-weight: bold;
}

a:active,
a:hover{
    color:black;
    text-decoration: none;
}

h1 {
    flex: 50%;
    font-family: 'Leckerli One', cursive;
    font-weight: bold;
    color: black;
    font-size: 3em;
    margin-top: 0;
}

h2,
h3,
h4 {
    color: rgb(91, 91, 91);
    font-family: 'Roboto Condensed', sans-serif;
}

button {
    background-color: rgb(66, 139, 202);
    border: 1px solid lightgray;
    font-weight: bold;
    color: white;
    padding: 4%;
}

img {
    border:2px solid lightgray;
    padding: 1%;
}

#artInfoCol p a:any-link,
table a:any-link,
* li a:any-link {
    font-weight: normal;
}

/* header styling */

header li {
    display: inline-block;
    padding:0 1rem;
}

header input, header button {
    border: 1px solid lightgray;
    width: min-content;
    color: gray;
    padding: 0.5rem;
    background-color: white;
}

#topHeaderRow * {
    color: #E7E7E7;    
}

#logoRow form {
    flex: 50%;
    align-self: center;
    text-align: center;
}

#logoRow label {
    color: white;
}

#mainNavigationRow {
    background-color: rgb(248, 248, 248);
    border: 1px solid lightgray;
}

#mainNavigationRow li {
    padding: 1rem;
    transition-property: background-color;
    transition-duration: 0.7s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s; 
}
#mainNavigationRow a:any-link{
    color: rgb(91, 91, 91); 
}

#mainNavigationRow li:hover{
    background-color: lightgray;
}
/* main section styling */

#artInfoCol {
    color: rgb(91, 91, 91);
}

#artInfoCol a{
    color: rgb(66, 139, 202);
}

.price {
    color: red;
    font-weight: 900;
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

#cart button {
    background-color: white;
    color: rgb(66, 139, 202);
    padding: 0.8rem;
    font-size: 1rem;
    margin: 0.5rem 0;
}

#cart a {
    font-weight: bolder;
}
 
#insertedBox {
    border: 2px solid lightgray;
}

/* main section styling end */

/* similar products section styling */

#similarProdsRow h3 {
    font-size: 1.3rem;
    font-weight: bold;
    padding-bottom: 0.7rem;
}

.item {
    border: 1px solid lightgray;
    padding: 2% 1%;
    font-size: 0.85em;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    flex: content;
}

.item > div {
    text-align: start;
}

.item img {
    align-self: center;
}

.similarTitle a{
    color: rgb(66, 139, 202);
    font-weight: bold;    
}

#similarProdsRow button {
    background-color: rgb(92, 184, 92); 
    margin-top: 1em;
    margin-right: 2%;
    padding: 0.3em 0.5em;
    
}

#similarProdsRow button a{
    color: white;
    font-weight: bold;
    font-size: 0.9em;;
}

#similarProdsRow button:first-of-type {
    background-color: rgb(66, 139, 202);
}

#similarProdsRow button:last-of-type {
    background-color: rgb(91, 192, 222);
}

/* similar products section styling end */

/* aside styling */

aside > div {
    border:2px solid  rgb(217, 237, 247);
    color: rgb(66, 139, 202);
    border-radius: 4px;
}

aside h3 {
    padding: 0.5em;
    color: rgb(105, 154, 177);
    border-bottom: 2px solid rgb(217, 237, 247);
    background-color: rgb(217, 237, 247);
}

aside ul {
    padding: 2em 2em 0 2em;
}

aside li {
    padding-bottom: 2em;
}

#cartInfo {
    border-color: rgb(66, 139, 202);
}

#cartInfo h3 {
    color: white;
    background-color: rgb(66, 139, 202);
}

#cartInfo div:last-of-type {
    padding: 0.5em 0.9em;
}

.cartItem {
    padding: 1em 1em;
    display: flex;
    font-size: 0.8em;
    align-items: center;
}

.cartItem p {
    display: inline-block;
    padding: 0 1em;
    word-wrap: break-word;
    color: rgb(66, 139, 202);
}

.cartText {
    color: black;
    font-size: 0.8em;
    font-weight: bold;
    padding: 0.5em 1em;

}

.totalAmount {
    color: rgb(173, 153, 118);
    font-weight: bold;
}

/* aside styling end */

/* footer styling */

footer h4 {
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(34, 34, 34);
    font-weight: bold;
    padding: 3% 0;
}

footer li {
    padding: 1.2em 0 0 0;
}

#ordered > div {
    font-size: 0.8em;
}

#ordered > div > a:any-link { 
    float: left;
    margin-right: 2%;
    margin-bottom: 1%;
}

#contact form div label {
    display: none;
}

.field {
    display: flex;
    flex-direction: column;
    margin: 2% 0;
    border: 2px solid lightgray;
}

.input {
    padding: 2%;
}

#contact button {
    width: 100%;
}
