table {
    width: 100%;
    border-collapse: collapse;
}

table caption {
    padding: 0.5rem;
    text-align: start;
    background-color: rgb(248, 248, 248);
}

table td {
    border-top: 1px solid lightgray;
    padding: 0.5rem;
}

table th{
    text-align: start;
    font-weight: bold;
    border-top: 1px solid lightgray;
    padding: 0.5rem;
}