
/* Header layout */
header {
    grid-area: header;
    display: flex;
    flex-direction: column;
}

header div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

#topHeaderRow {
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
    color:white;
    padding: 1rem;
}

#topHeaderRow a:any-link {
    color:white;
}

/* Header layout end */

/* Main Section layout */
h2 {
    grid-area: portrait-name;
    font-size: 1.5em;
    font-weight: bolder;
}

picture {
    grid-area: portrait;
}

#details {
    grid-area: details;
}


/* Main Section layout end*/

/* Similar products section layout */

#similarProdsRow{
    grid-area: similar-prods;
    margin-top: 1rem;
}

#productsRow{
    display: flex;
    column-gap: 2rem;
    row-gap: 2rem;
    justify-content: space-between;
    flex: min-content;
    flex-wrap: wrap;
}

/* Similar products section layout */

/* Aside layout start */
aside {
    grid-area:aside;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    row-gap: 2rem;
}

/* Aside layout end */

/* footer display start */
#aboutUs{
    grid-area: aboutUs;
}

#customerService {
    grid-area: customerService;
}

#ordered {
    grid-area: order;
    display: flex;
    flex-direction: column;
    row-gap: 0.9rem;
}

#contact {
    grid-area:contact;
}

#copyrightRow {
    grid-area: copyright;
    color: rgb(231, 231, 231);
    padding: 1% 10%;
    font-size: 0.9em;
    background-color: #3A3A3A;
}

#copyrightRow span {
    float: right;
}
/* footer display start */

@media screen and (max-width: 600px){
    * {
    font-size: 1vw;
    }
    footer {
        grid-area: footer;
        margin-top: 1em;
        background-color: #E7E7E7;
        display: grid;
        grid-template-areas:
        "aboutUs"
        "customerService" 
        "order" 
        "contact"
        "copyright";
    }

    #similarProdsRow {
        grid-area: similar-prods;
        display: grid;
        grid-template-areas: 
            "h3"
            "item"
            "item" 
            "item" 
            "item";
    }

    #artInfoCol {
        grid-area: art-info;
        display: grid;
        grid-auto-rows: min-content;
        grid-column-gap: 2rem;
        justify-items: center;
        grid-template-areas: 
            "portrait-name"
            "artist" 
            "portrait"
            "details";
    }

    body {
        display: grid;
        justify-content: center;
        grid-template-areas: 
            "header"
            "art-info"
            "similar-prods"
            "aside"
            "footer";
    }
}

@media screen and (min-width:600px) and (max-width:1920px){

footer {
    margin-top: 1em;
    grid-area: footer;
    background-color: rgb(231, 231, 231);
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 8% 2fr 2fr 2fr 2fr 8%;
    grid-template-rows: auto auto;
    grid-template-areas: 
        ". aboutUs customerService order contact ."
        "copyright copyright copyright copyright copyright copyright";
}

#artInfoCol {
    grid-area: art-info;
    display: grid;
    grid-auto-rows: min-content;
    align-content: stretch;
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    grid-template-areas: 
        "portrait-name portrait-name"
        "artist artist"
        "portrait details"
        "similar-prods similar-prods";
}

body {
    display: grid;
    grid-template-columns: 8% 5fr 1fr 8%;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    justify-self: start;
    grid-template-areas: 
        ". header header ."
        ". art-info aside ."
        "footer footer footer footer";
}
}

@media screen and (min-width:1921px){
    footer {
        margin-top: 1em;
        grid-area: footer;
        background-color: rgb(231, 231, 231);
        display: grid;
        grid-column-gap: 2rem;
        grid-template-columns: auto 300px 300px 300px 300px auto;
        grid-template-rows: auto auto;
        grid-template-areas: 
            ". aboutUs customerService order contact ."
            "copyright copyright copyright copyright copyright copyright";
    }

    #artInfoCol {
        grid-area: art-info;
        display: grid;
        grid-auto-rows: min-content;
        align-content: stretch;
        grid-column-gap: 2rem;
        grid-row-gap: 1rem;
        grid-template-areas: 
            "portrait-name portrait-name"
            "artist artist"
            "portrait details"
            "similar-prods similar-prods";
    }
    
    body {
        display: grid;
        grid-template-columns: auto 1300px 300px auto;
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;
        justify-self: start;
        grid-template-areas: 
            ". header header ."
            ". art-info aside ."
            ". footer footer .";
    }

}