@media (max-width: 700px) {
    * {
        font-size: min(4vw, 1em);
    }
    .footer-item1,  /* υπάρχει σύνδεσμος στο κύριο μενού */
    .footer-item3 {    /* υπάρχει η πληροφορία στο καλάθι */
        display: none;
    }

    .footer-item4 h4 a {    /*for dropdown*/
        display:unset;
        text-align: center;
        color: black;
        z-index: -1;
    }

    .footer-item4 #contact-form {
        display: none;
    }

    .footer-item4 #contact-form:target {
        display: block;
        width: 50vw;
    }

    /*
    .footer-item4 form::before {
        position: absolute;
        content: "▲";
        width: 5%;
        height: 2%;
        background-color: rgb(231, 231, 231);
        top: 45%;
        left:26%;
        color: rgb(91, 91, 91);
    }
    */

}