@media (max-width: 700px) {
    * {
        font-size: min(4vw, 1em);
    }

    .responsive-effects {    /* design in footer for dropdown icons in general additional elements for mobile*/
        display: unset;
        text-align: center;
    }

    /*################ removed elements ##############################*/

    .footer-item1,   /* already in main navigation*/
    .footer-item3,   /* there is a link for the cart so it takes unnecessary space */
    #cartInfo {     /* same as previous one */
        display: none;
    } 

    /*################ end removed elements ########################*/
    

    /*########################## main ##############################*/

    #details {
        display: grid;
        grid-template-rows: repeat(4, auto);
        max-width: 90vw;
        row-gap: 1%;
    }   

    #portraitDesc {
        grid-row: 3;
    }

    #insertedBox {
         grid-row: 4;
    }

    table tbody#table-expand {
        display: none;
    }
    
    table tbody#table-expand:target {
        display: unset;

    }

    #insertedBox table th,
    #insertedBox table td,
    #insertedBox {
        border:0; 
        font-size: min(3vw, 1em);
    }
    
    #insertedBox table caption {
        background-color: white;
        border-bottom: 1px solid var(--bg-gray);
        border-radius: 0;
        font-size: 1.3em;
    }

    #insertedBox table a[href$=expand] {
        padding-left: 1vw ;
        color: rgb(91, 91, 91);
        float: right;
    }

    #insertedBox tr:first-of-type {
        position: relative;
    }

    #insertedBox tr:first-of-type a.shrink {
        position: absolute;
        width: 2rem;
        height: 1rem;
        top: -1.5rem;
        right: calc(-10rem + 6vw);
        background-color: white;
        font-size: 1rem;
        color: rgb(91, 91, 91);
        vertical-align: bottom;
    }

    #table-expand::before {     /* to avoid moving the screen at the begining of the table when opened */
        content: '';
        display: block;
        height: 60vh; /* increase the size of the box at where the anchor should focus after visited*/
        margin-top: -60vh; /* move the contents as where they were */
        visibility: hidden;
    }

    /*######################### end main #####################################*/


    /*########## similar products as a vertical scroll bar ###################*/

    #productsRow {
        max-width: 90vw;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        padding: 0.1rem 0.1rem;
    }

    .item {
        border:0;
        margin: 0 0 1.5rem 2rem;
        box-shadow: 0px 1px 2px 1px rgba(45, 71, 100, 0.2), 1px 2px 2px 0 rgba(129, 178, 241, 0.19);   
    }

    .item > div {
        padding: 0 0 3px 5px;
    }

    /*########## end similar products #############################################*/


    /*#################### footer ################################################*/
    
    .footer-item4 form {
        width: 17rem;
        row-gap: 1rem;
    }

    .footer-item4 .input,
    .footer-item4 button {
        padding: 1rem;
        font-size: min(4.5vw, 2rem);
        border-radius: 0;
    }

    .footer-item4 fieldset {
        display: none;
    }

    .footer-item4 fieldset:target {
        position: fixed;
        top: 0vh;
        left: 0vw;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0;
        background-color: rgba(91, 91, 91, 0.959);   
    }

    .footer-item4 .close {
        position: relative;
        display: block;
    }

    .footer-item4 .close::after {
        position: absolute;
        right: -1rem;
        top: -4rem;/* inside the form, so it needs negative value to move at the top of the screen */
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.712);
        content: "×";
        font-size: 1.5rem;
        color: rgba(91, 91, 91);
    } 

    .footer-item4 legend {
        position: absolute;
        bottom: calc(50vh + 12rem);
        width: 17rem;
        padding-top: .5rem;       
        color: white;
        font-size: 1.5rem;
        text-align: start;
        text-shadow: 1px 2px 1pc black;
    }

    .footer-item4 a[href$=appear] {
        padding-left: 1vw ;
        color: rgb(91, 91, 91);
    }

    /*#################### end footer #######################################*/

}