@media (max-width: 700px) {
    * {
        font-size: min(4vw, 1em);
    }
    .footer-item1,  /* υπάρχει σύνδεσμος στο κύριο μενού */
    .footer-item3 {    /* υπάρχει η πληροφορία στο καλάθι */
        display: none;
    }

    .responsive-effects {    /* design in footer for dropdown icons in general additional elements for mobile*/
        display: unset;
        text-align: center;
    }

    .footer-item4 form {
        display: none;
    }

    .footer-item4 form:target {
        display: block;
        width: 50vw;
    }

    .footer-item4 a[href$=appear] {
        padding-left: 1vw ;
        color: rgb(91, 91, 91);
    }

    .footer-item4 a[href$=disappear] {
        position: absolute;
        width: 0.6em;
        height: 0.6em;
        top: 50vw;
        left: 25vw;
        background-color: rgb(231, 231, 231);
        font-size: 2em;
        color: rgb(91, 91, 91);
    }

    .footer-item4 form a:first-of-type i{
        position: absolute;
        right:3px;
        top: 3px;
    }



}