@media (max-width: 700px) {
    * {
        font-size: min(4vw, 1em);
    }
   
    .footer-item1,  /* υπάρχει σύνδεσμος στο κύριο μενού */
    .footer-item3 {    /* υπάρχει η πληροφορία στο καλάθι */
        display: none;
    }

    .responsive-effects {    /* design in footer for dropdown icons in general additional elements for mobile*/
        display: unset;
        text-align: center;
    }

    .footer-item4 form {
        width: 17rem;
        row-gap: 1rem;
    }

    .footer-item4 .input,
    .footer-item4 button {
        padding: 1rem;
        font-size: min(4.5vw, 2rem);
    }

    .footer-item4 fieldset {
        display: none;
    }

    .footer-item4 fieldset:target {
        border-radius: 0;
        display: flex;
        width: 100vw;
        height: 100vh;
        align-items: center;
        justify-content: center;
        position: fixed;
        background-color: rgba(91, 91, 91, 0.89);
        top: 0vh;
        left: 0vw;
    }

    .close {
        position: relative;
        display: block;
    }

    .close::after {
        right: -1rem;
        top: -3rem; /* inside the form, so it needs negative value to move at the top of the screen */
        width: 2.5rem;
        height: 2.5rem;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: rgba(91, 91, 91);
        background-color: rgba(255, 255, 255, 0.712);
        content: "×";
        font-size: 1.5rem;
    } 

    .footer-item4 legend {
        position: absolute;
        bottom: calc(50vh + 11rem);
        width: 17rem;
        padding-top: .5rem;
        border-bottom: 2px solid var(--bg-gray);        
        color: white;
        font-size: 1.5rem;
        text-align: start;
    }

    .footer-item4 a[href$=appear] {
        padding-left: 1vw ;
        color: rgb(91, 91, 91);
    }


}