/* this css file is organized in sections, separated by ### comment lines
    for better navigation. The sections are:
    - general styles
    - header styles
    - main styles
    - similar products section styles
    - aside styles
    - footer styles
    - at the very bottom styles about the table/form section in main
        (varies in content through the different html files of the 2nd project) 

*/
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Lato&family=Leckerli+One&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Roboto+Condensed:wght@300&display=swap');

/*############# general #######################################################*/
:root {
    --blue: rgb(66, 139, 202);
    --white: rgb(252, 252, 252);
    --bg-gray: lightgray;
}

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: normal;
    font-family: 'Lato', sans-serif, Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    list-style-type: none;
}

a:any-link {
    color: var(--blue);   
}

a:active,
a:hover{
    color:black;
    text-decoration: none;
}

h1 {
    flex: 50%;
    font-family: 'Leckerli One', cursive;
    font-weight: bold;
    color: black;
    font-size: 3em;
    margin-top: 0;
}

h2,
h3,
h4 {
    color: rgb(91, 91, 91);
    font-family: 'Roboto Condensed', sans-serif;
}

button {
    padding: 4%;
    border: 1px solid var(--bg-gray);
    background-color: var(--blue) ;
    font-weight: bold;
    color: var(--white);
}

img {
    border:2px solid var(--bg-gray);
    padding: 1%;
}

.responsive-active-only {
    pointer-events: none;
}
/*########### end general ##########################################################*/


/* ########## header #############################################################*/

header .container{
    grid-area: header;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 'row1' 'row2' 'row3';
}

header .container > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 0;
}

#topHeaderRow {
    grid-area: row1;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgb(34, 34, 34);
    color:var(--white);
}

#logoRow {
    --white: #E7E7E7;
    grid-area: row2;
    color: var(--white);    

}

#mainNavigationRow {
    grid-area: row3;
    border: 1px solid var(--bg-gray);
    background-color: rgb(248, 248, 248);
}

header li {
    display: inline-block;
    padding:0 1rem;
}

#topHeaderRow a:any-link {
    color:var(--white);
}

#logoRow form {
    flex: 50%;
    align-self: center;
    text-align: center;
}

#logoRow input, 
#logoRow button {
    width: min-content;
    padding: 0.5rem;
    border: 1px solid var(--bg-gray);
    background-color: white;
    color: gray;
}

#logoRow label {
    color: white;
}

#mainNavigationRow li {
    padding: 1rem;
    transition-property: background-color;
    transition-duration: 0.7s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s; 
}

#mainNavigationRow li:hover{
    background-color: var(--bg-gray);
}

#mainNavigationRow a:any-link{
    color: rgb(91, 91, 91); 
}


/*############ end header ########################################################*/


/*############# main #################################################################*/

main {
    font-size: 0.85rem;
    color: rgb(91, 91, 91);
}

h2 {
    grid-area: portrait-name;
    font-size: 1.7rem;
    font-weight: bolder;
}

picture {
    grid-area: portrait;
}

main a{
    color: var(--blue);
}

#details {
    grid-area: details;
}

.price {
    margin: 0.5rem 0;
    font-weight: 900;
    font-size: 1.3rem;
    color: red;
}

#cart button {
    margin: 0.6rem 0;
    padding: 0.7rem;
    background-color: var(--white);
    font-size: 0.85rem;
    color: var(--blue);
}

#cart a {
    font-weight: bolder;
}
 
#insertedBox {
    border: 2px solid var(--bg-gray);
}

/*########### end main ###########################################################*/


/*########## similar products #######################################################*/

#productsRow{
    display: flex;
    flex: min-content;
    flex-wrap: wrap;
    gap: 1rem;
}

.main-item2 h3 {
    padding-bottom: 0.7rem;
    font-size: 1.3rem;
    font-weight: bold;
}

.item {
    display: flex;
    flex-direction: column;
    flex: content;
    row-gap: 1rem;
    min-width: 200px;
    max-width: 230px;
    padding: 2% 1%;
    border: 1px solid var(--bg-gray);
    font-size: 0.85rem;
}

.item > div {
    text-align: start;
}

.item img {
    align-self: center;
}

.similarTitle a{
    font-size: 0.8rem;
    font-weight: bold;    
    color: var(--blue);
}

.main-item2 button {
    margin-top: 1rem;
    margin-right: 0.1rem;
    padding: 0.3rem;
    background-color: rgb(92, 184, 92);    
}

.main-item2 button a{
    font-weight: bold;
    font-size: 0.7rem;
    color: var(--white);
}

.main-item2 button:first-of-type {
    background-color: var(--blue);
}

.main-item2 button:last-of-type {
    --blue: rgb(91, 192, 222);
    background-color: var(--blue);
}

/*########### end similar products ##############################################*/



/*############ aside ############################################################*/

aside > div {
    border:2px solid var(--bg-gray);
    border-radius: 4px;
    font-size: 0.85rem;
    color: var(--blue);
}

aside h3 {
    --bg-gray: rgb(217, 237, 247);
    padding: 0.5rem;
    border-bottom: 2px solid var(--bg-gray);
    background-color: var(--bg-gray);
    font-weight: bold;
    color: rgb(105, 154, 177);
}

aside ul {
    padding: 1rem 1rem 0 1rem;
}

aside li {
    padding-bottom: 1.5rem;
}

#cartInfo {
    border-color: var(--blue);
}

#cartInfo h3 {
    background-color: var(--blue);
    color: var(--white);
}

.cart-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0.9rem;
    font-size: 0.7rem;
}

.cart-container div:last-of-type button{
    font-size: 0.75rem;
}

.cartItem {
    display: flex;
    align-items: center;
    padding: 0 1rem 1rem 0;
}

.cartItem p {
    display: inline-block;
    margin-left: 0.75rem;
    word-wrap: break-word;
    color: var(--blue);
}

.cartText {
    padding: 0.5rem 0;
    font-size: 0.8rem;
    font-weight: bold;
    color: black;
}

.cartItem a {
    font-weight: bold;
}

.totalAmount {
    font-weight: bold;
    color: rgb(173, 153, 118);
}

/* ############# end aside ############################################################*/


/* ############## footer #############################################################*/

footer > div {
    padding-bottom: 3rem;
    font-size: 0.8rem;
}

footer h4 {
    padding: 1% 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(34, 34, 34);
}

footer li {
    padding: 1.2rem 0 0 0;
}

/* footer just ordered section */

.footer-item3 {
    display: flex;
    flex-direction: column;
    row-gap: 0.9rem;
}

.footer-item3 > div > a:any-link { 
    float: left;
    margin-right: 2%;
    margin-bottom: 1%;
}

/* end footer just ordered */


/* footer contact section */

.footer-item4 form div label {
    font-size: 0;
}

.footer-item4 form {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}
.field {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--bg-gray);
}

.input {
    padding: 2%;
}

.footer-item4 button {
    width: 100%;
}

.responsive-effects {   /*for dropdown*/
    display:none;
}

/* end footer contact section */


/* footer copyright */

@media (max-width: 700px){
    .item3 {
        text-align: center;
    }
    .footer-item5{
        padding: 0.5rem;
        border-radius: 0;
        background-color: #3A3A3A;
        font-size: min(2.5vw, 0.8rem);
        text-align: center;
        color: rgb(172, 172, 172);
    }

    .footer-item5 span {
        display: inline-block;
    }

    footer > div {
        padding: 0;
    }
}

@media (min-width: 701px){

    .item3 {
        position: relative;
    }

    .footer-item5 {
        position: absolute;
        bottom:0;
        left: 0;
        width: min(100vw, 100%);
        border-radius: 0;
        background-color: #3A3A3A;  
    }
    
    .footer-item5 p {
        --side: calc((100% - 1300px) / 2);
        margin: 0 var(--side) 0 var(--side);
        padding: .5rem 0;
        font-size: 0.8rem;
        color: rgb(172, 172, 172);
    }
    
    .footer-item5 span {
        float: right;
    }
}


/* end footer copyright */

/*############ end footer ###############################################################*/



/* ############ container with variant content (table/row) #############################*/

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.85rem;
}

table caption {
    padding: 0.5rem;
    background-color: rgb(248, 248, 248);
    text-align: start;
}

table td {
    border-top: 1px solid lightgray;
    padding: 0.5rem;
}

table th {
    padding: 0.5rem;
    border-top: 1px solid lightgray;
    text-align: start;
    font-weight: bold;
}


/* form */

picture p {
    margin-bottom: 1em;
}

#insertedBox form{
    padding: 3% 7% 3% 2%;    
    border-color: rgb(223, 223, 223);
    background-color: rgb(243, 246, 252);
}

#insertedBox fieldset {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 2rem;
    justify-content: start;
    margin-top: 1.5rem;
}

#insertedBox fieldset div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 0.5em;
}

#insertedBox legend{
    width: 100%;
    margin-bottom: 1.2rem;
    border-bottom: 1px solid rgb(223, 223, 223);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(91, 91, 91);
}

#insertedBox label {
    font-size: 0.9em;
    font-weight: bolder;
}

#insertedBox form input { 
    max-width: 80%;
    padding: 0.55rem;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 4px;
    font-size: 0.75rem;
}

#insertedBox input[type="date"]{
    max-width: 70%;
    padding: 0.8rem;
}

#insertedBox select {
    max-width: 70%;
    padding: 0.5em;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 4px;
    background-color: rgb(223, 223, 223);
    font-size: 0.75rem;
}

#insertedBox button {
    width: 40%;
    padding: 0.5rem;
    font-weight: normal;
}

#account > div {
    grid-column: 1;
}

#termsField {
    margin: 1rem 0 0.9rem 0;
}

#termsField input {
    margin-right: 1%;
    border: 2px solid rgb(223, 223, 223);
}




