@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Lato&family=Leckerli+One&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Roboto+Condensed:wght@300&display=swap');

/*############# general #######################################################*/


* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    border: 0px;
    font-weight: normal;
    font-family: 'Lato', sans-serif, Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 4px;
}

ul {
    list-style-type: none;
}

a:any-link {
    color: rgb(66, 139, 202);   
}

a:active,
a:hover{
    color:black;
    text-decoration: none;
}

h1 {
    flex: 50%;
    font-family: 'Leckerli One', cursive;
    font-weight: bold;
    color: black;
    font-size: 3em;
    margin-top: 0;
}

h2,
h3,
h4 {
    color: rgb(91, 91, 91);
    font-family: 'Roboto Condensed', sans-serif;
}

button {
    background-color: rgb(66, 139, 202);
    border: 1px solid lightgray;
    font-weight: bold;
    color: white;
    padding: 4%;
}

img {
    border:2px solid lightgray;
    padding: 1%;
}

/*########### end general ##########################################################*/


/* ########## header #############################################################*/
header .container{
    grid-area: header;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 'row1' 'row2' 'row3';
}

header .container > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

#topHeaderRow {
    grid-area: row1;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
    color:white;
    padding: 1rem;
}

#logoRow {
    grid-area: row2;
    color: #E7E7E7;    

}

#mainNavigationRow {
    grid-area: row3;
    background-color: rgb(248, 248, 248);
    border: 1px solid lightgray;
}

header li {
    display: inline-block;
    padding:0 1rem;
}

#topHeaderRow a:any-link {
    color:white;
}

#logoRow form {
    flex: 50%;
    align-self: center;
    text-align: center;
}

#logoRow input, 
#logoRow button {
    border: 1px solid lightgray;
    width: min-content;
    color: gray;
    padding: 0.5rem;
    background-color: white;
}

#logoRow label {
    color: white;
}

#mainNavigationRow li {
    padding: 1rem;
    transition-property: background-color;
    transition-duration: 0.7s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s; 
}

#mainNavigationRow li:hover{
    background-color: lightgray;
}

#mainNavigationRow a:any-link{
    color: rgb(91, 91, 91); 
}


/*############ end header ########################################################*/


/*############# main #################################################################*/

main {
    font-size: 0.85em;
}
h2 {
    grid-area: portrait-name;
    font-size: 1.5em;
    font-weight: bolder;
}

picture {
    grid-area: portrait;
}

#details {
    grid-area: details;
}

main {
    color: rgb(91, 91, 91);
}

main a{
    color: rgb(66, 139, 202);
}

.price {
    color: red;
    font-weight: 900;
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

#cart button {
    background-color: white;
    color: rgb(66, 139, 202);
    padding: 0.8rem;
    font-size: 1rem;
    margin: 0.5rem 0;
}

#cart a {
    font-weight: bolder;
}
 
#insertedBox {
    border: 2px solid lightgray;
}

/*########### end main ###########################################################*/


/*########## similar products #######################################################*/

#productsRow{
    display: flex;
    column-gap: 1rem;
    row-gap: 1rem;
    flex: min-content;
    flex-wrap: wrap;
}

.main-item2 h3 {
    font-size: 1.3rem;
    font-weight: bold;
    padding-bottom: 0.7rem;
}

.item {
    border: 1px solid lightgray;
    padding: 2% 1%;
    font-size: 0.85em;
    max-width: 230px;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    flex: content;
}

.item > div {
    text-align: start;
}

.item img {
    align-self: center;
}

.similarTitle a{
    color: rgb(66, 139, 202);
    font-weight: bold;    
}

.main-item2 button {
    background-color: rgb(92, 184, 92); 
    margin-top: 1em;
    margin-right: 1%;
    padding: 0.3em 0.5em;
    
}

.main-item2 button a{
    color: white;
    font-weight: bold;
    font-size: 0.8em;;
}

.main-item2 button:first-of-type {
    background-color: rgb(66, 139, 202);
}

.main-item2 button:last-of-type {
    background-color: rgb(91, 192, 222);
}

/*########### end similar products ##############################################*/



/*############ aside ############################################################*/

aside > div {
    border:2px solid  rgb(217, 237, 247);
    color: rgb(66, 139, 202);
    border-radius: 4px;
    font-size: 0.85em;
}

aside h3 {
    padding: 0.5em;
    color: rgb(105, 154, 177);
    border-bottom: 2px solid rgb(217, 237, 247);
    background-color: rgb(217, 237, 247);
}

aside ul {
    padding: 1em 1em 0 1em;
}

aside li {
    padding-bottom: 1.5em;
}

#cartInfo {
    border-color: rgb(66, 139, 202);
}

#cartInfo h3 {
    color: white;
    background-color: rgb(66, 139, 202);
}

#cartInfo div:last-of-type {
    padding: 0.5em 0.9em;
}

.cartItem {
    padding: 1em 1em;
    display: flex;
    font-size: 0.8em;
    align-items: center;
}

.cartItem p {
    display: inline-block;
    padding: 0 1em;
    word-wrap: break-word;
    color: rgb(66, 139, 202);
}

.cartText {
    color: black;
    font-size: 0.8em;
    font-weight: bold;
    padding: 0.5em 1em;

}

.totalAmount {
    color: rgb(173, 153, 118);
    font-weight: bold;
}

/* ############# end aside ############################################################*/


/* ############## footer #############################################################*/

footer > div {
    padding-bottom: 4em;
    font-size: 0.8em;
}

footer h4 {
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(34, 34, 34);
    font-weight: bold;
    padding: 1% 0;
    font-size: 1.2em;
}

footer li {
    padding: 1.2em 0 0 0;
}

/* footer just ordered section */

.footer-item3 {
    display: flex;
    flex-direction: column;
    row-gap: 0.9rem;
}

.footer-item3 > div > a:any-link { 
    float: left;
    margin-right: 2%;
    margin-bottom: 1%;
}

/* end footer just ordered */


/* footer contact section */

.footer-item4 form div label {
    display: none;
}

.field {
    display: flex;
    flex-direction: column;
    margin: 2% 0;
    border: 2px solid lightgray;
}

.input {
    padding: 2%;
}

.footer-item4 button {
    width: 100%;
}

/* end footer contact section */


/* footer copyright */
.footer-item5 {
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    background-color: #3A3A3A;  
}

.footer-item5 p {
    color: rgb(231, 231, 231);
    font-size: 0.9em;
    --side: calc((100% - 1300px) / 2);
    margin: 0 var(--side) 0 var(--side);
    padding: .5em 0;
}

.footer-item5 span {
    float: right;
}

/* end footer copyright */

/*############ end footer ###############################################################*/
